html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
}

#root {
    height: 100%;
    background-color: #644749
}

.component-forecast .location,
.component-forecast .current {
    padding: 10px 15px;
}

.component-forecast .location {
    background-color: #8BA892;
    color: #D1DCD3;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px
}

.component-forecast .current {
    background-color: #E3BB88;
    color: #ffffff;
    font-size: 16px;
    padding-left: 60%;
    position: relative;
}

.component-forecast .current div {
    padding-top: 5px
}

.component-forecast .time {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F4E4CF
}

.component-forecast .temp {
    font-size: 44px;
}

.component-forecast .temp sup {
    font-size: 24px
}

.component-forecast .text {
    font-size: 36px
}

.component-forecast .current .wi {
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 80px;
    margin-top: -60px;
    margin-left: -70px;
    color: #DB9864;
}

.component-forecast .day { background-color: #DB9864 }
.component-forecast .evening { background-color: #B1695A }
.component-forecast .night { background-color: #644749 }