@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('./src/styles/fonts/source_sans_pro/Source Sans Pro_normal_400_default.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('./src/styles/fonts/source_sans_pro/Source Sans Pro_normal_700_default.woff') format('woff');
}
