@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('./src/styles/fonts/quicksand/Quicksand_normal_400_default.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: local('Quicksand Medium'), local('Quicksand-Medium'), url('./src/styles/fonts/quicksand/Quicksand_normal_500_default.woff') format('woff');
}
